<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="{{ url_for('static', path='/favicon.ico') }}">
    <title>Donut or not</title>
    <style>
        .box {
            width: 100%;
            border: 5px
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 1000px
        }

        img2 {
            width: 200%
        }
    </style>
</head>

<body>
    <p>
        <div align="center">
            <img src="{{url_for('static', path='landing_graphics.jpg')}}" class="img">
        </div>
    </p>
    <p>

    <div align="center">
        Click on the button below to upload some jpg and classify it between the 3 known classes - Donut | Bagel | Vada.

        <p><i>Only images of type JPG are supported</i></p>
        <form method="post" enctype=multipart/form-data action="classifyImg">
            <input type="file" name=file accept=".jpg,.jpeg">
            <input type="submit" value="Upload pic">
        </form>

    </div>
    <hr>
    <div align="left">
        <br>
        This web app uses deep learning to classify images between the 3 classes it knows - vada / donut / bagel.

        <br><br>
        What is a:
        <ul>
            <li>
                <a href="https://en.wikipedia.org/wiki/Vada_(food)">Vada?</a> It is the South Indian savory food made as fritters.
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Bagel">Bagel?</a> It is a kind of bread that is boiled and then baked.
            </li>
            <li>
                <a href="https://en.wikipedia.org/wiki/Doughnut">Donut?</a> It is a sweet, fried dough - like a vada, but sweet with glazings on top.
            </li>
        </ul>

    
        The objective of this app is to create a simple exercise to learn how to push a deep learning model to the cloud and run inference in a serverless fashion. This app is built using FastAPI, Docker, AWS Lambda and SAM. The model is built using FastAI on top of PyTorch using a resnet32 base model.
        
        <br><br>
        To learn more about this site, see the <a href="https://github.com/AtmaMani/donut_or_not">GitHub repo</a>
    </div>

    
    <hr>
    <h4 align="center" style="font-family: Monaco"> Other APIs available on this site:</h4>
    <div align="left">
        <br>
        <a href="hello">Say hello</a>

        <br>
        <a href="listImgFiles">List img files uploaded</a>

        <br>
        <a href="getTimestamp">Get a timestamp</a>
    </div>
    </p>

</body>
</html>